@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

a {
    color: #ddd;
    transition: all 0.3 s;
    position: relative;
}
a:hover {
    color: #f24f00;    
}
