@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    font-family: "Roboto", sans-serif;
}
html {
    height: auto!important;
}

/* body {
    width: 100%;
    height: 100%;
    position: relative;
} */ 

a {
    color: #ddd;
    transition: all 0.3 s;
    position: relative;
}
a:hover {
    color: #f24f00;    
}

.search {
    background-image: url('../img/banner4.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
}

.linkred {
    background: red;
}
.linkred:hover {
    opacity: 0.8;
}
.linkblue {
    background: #3363e1;
}
.linkblue:hover {
    opacity: 0.8;
    color: #fff;
}
.min-width {
    max-width: 600px;
}
footer {
    bottom: 0 !important;
}